.semester_container {
    margin-bottom: 20px;

}

.knap_container{
    margin-bottom: 20px;
}

.dragzone{
    border-radius: 4px;
    border: 1px dashed grey;
    min-height: 30px;
    margin-top: 20px;
}

.semester_content{
    padding: 10px;
    background-color: #ddd;
    min-height: 110px;
    margin: 0px -14px -1px 5px;
    border: 1px solid #999;
    border-radius: 3px;
}
.feedback{
        width: auto;
    margin-left: 15px;
    border: 2px solid #999;
    border-radius: 6px;
}

.time_count{
    font-size: 11px;
    position: absolute;
    right: -16px;
    top: 4px;
}

.fag_btn{
    margin: 3px; 
}

.btn-var{
    margin: 3px;
}

.draggable{
    z-index: 100;
}

.drag_header{
    margin: 5px;
}



